<div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Current NHL Players!</h1>
          <br>
          <%= form_with(url: search_results_players_path, method: "get", local: true) do %>
          <%= label_tag(:q, "Search for Players:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
          <% end %>
          <p>Your search for <%=@q%> returned <%= pluralize(@players.size, 'result') %> </p>
          <ul class="list-group">
                <%  @players.each do |player| %>
                  <li class="list-group-item">
                    <%= link_to player.full_name, player %>
                  </li>
            <% end %>
            </ul>
        </div>
        </div>
        <%=paginate @players %>
      </div>