<!DOCTYPE html>
<html>
  <head>
    <title>NHL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="<%=root_path%>">NHL Database
        <%= link_to 'NHL Database', root_path%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%=root_path%>">Home
              <%= link_to 'Home', root_path %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=about_path%>">About
              <%= link_to 'About', about_path %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=teams_path%>">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=players_path%>">Players
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=conferences_path%>">Conferences
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%=divisions_path%>">Divisions
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
